*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #222630;
  color: #ffffff;
  box-sizing: border-box;
}

.border {
  border: 2px solid yellow;
}

/*------------------------------------ NAVBAR ------------------------------------*/

.navbar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  height: 8.5vh;
  padding: 0px 5vw;
  background-color: #070a11;
  margin: 0;
  /* max-width: 100vw;
  min-width: 100vw;
  position: fixed; */
}

#nav-logo {
  height: 8vh;
}

.nav-links-lg {
  margin: 0;
}

.nav-links-lg ul {
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
}

.ul-link-lg {
  list-style: none;
}

.ul-link-lg li {
  margin-right: 2.5vw;
}

.ul-link-lg li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: poppins;
  font-size: 0.8rem;
}

.ul-link-lg li a:hover {
  color: white;
  /* color: #1c8fc5; */
  padding: 17px 4px 4px 4px;
  border-radius: 0px 0px 3px 3px;
  background-color: #31be81;
  margin-top: 0;
}

.join-btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  border: none;
  color: white;
  background: rgb(60, 209, 145);
  background: linear-gradient(
    90deg,
    rgba(60, 209, 145, 1) 0%,
    rgba(15, 115, 72, 1) 100%
  );
  border-radius: 10px;
  width: 5vw;
  height: 5vh;
}

.form-btn:hover {
  color: #ffffff;
  background: rgb(15, 115, 72);
  background: linear-gradient(
    90deg,
    rgba(15, 115, 72, 1) 0%,
    rgba(60, 209, 145, 1) 100%
  );
}

.menu-icon {
  display: none;
}

.nav-links {
  display: none;
}

/*------------------------------------ HEADER ------------------------------------*/
header {
  display: flex;
  background-image: url(img/Header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: #10131c;
  height: 75vh;
}

.header-text {
  text-align: center;
  color: rgb(255, 255, 255);
}

.header-text h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
}

.up-line,
.down-line {
  border-top: 3px solid #1ce030;
  width: 12vw;
  margin: 0 auto;
}

.header-text em {
  color: #3cd191;
}

.begin-now,
.star {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

/*------------------------------------ CARDS ------------------------------------*/
.top-hunt {
  color: #ffffff;
  background-color: #222630;
  height: 60vh;
}

.top-hunt h1 {
  text-align: center;
}

.top-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talent > span {
  color: #b8ab31;
}
.music > span {
  color: #1ce030;
}
.instrumentalists > span {
  color: #3c92d1;
}

.talent {
  border-top: 4px solid #b8ab31;
  background: rgb(37, 37, 43);
  background: linear-gradient(
    90deg,
    rgba(37, 37, 43, 1) 0%,
    rgba(10, 10, 14, 1) 100%
  );
}

.music {
  border-top: 4px solid #1ce030;
  background: rgb(57, 56, 65);
  background: linear-gradient(
    180deg,
    rgba(57, 56, 65, 1) 0%,
    rgba(10, 10, 14, 1) 100%
  );
}

.instrumentalists {
  border-top: 4px solid #3c92d1;
  background: rgb(25, 25, 34);
  background: linear-gradient(
    90deg,
    rgba(25, 25, 34, 1) 0%,
    rgba(10, 10, 14, 1) 100%
  );
}

.talent,
.music,
.instrumentalists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  width: 20vw;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.talent:hover,
.music:hover,
.instrumentalists:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 15px #ffffff13;
}

/*------------------------------------ OTHER AWARDS ------------------------------------*/

.other-awards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  background-color: #10131c;
  margin-top: 5vh;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.right:hover {
  transform: scale(1.02);
  transform: skew(1.2);
}

.right img {
  height: 45vh;
}

.left-txt h5 {
  font-weight: 300;
}

.left-txt > * {
  margin: 0;
}

.award-btn {
  background-color: #3cd191;
  border: none;
  border-radius: 10px;
  height: 4vh;
  color: #ffffff;
  cursor: pointer;
}

/*------------------------------------ FAQS ------------------------------------*/
section {
  width: 100vw;
  height: 60vh;
  background-color: #10131c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10vh 0;
  margin-top: 2vh;
}

.faq-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 5vh;
}

.accordion-item {
  background-color: #222630;
  border-radius: 1vh;
  margin-bottom: 2vh;
  padding: 4vh;
}

.accordion-link {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.accordion-link .icon-remove {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  background-color: #1c2029;
  border-left: 5px solid #3cd191;
  padding: 0 1vw;
  transition: max-height 0.5s;
}

.answer p {
  padding: 1vw;
  font-size: 0.8rem;
}

.accordion-item:target .answer {
  max-height: 30vh;
}

.accordion-item:target .icon-add {
  display: none;
}

.accordion-item:target .icon-remove {
  display: block;
}

/*------------------------------------ Footer ------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  height: 40vh;
  background-color: #10131c;
  background-image: url(img/Footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.footer h6 {
  color: #ffffff3f;
}

.sponsor-logos {
  display: flex;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

.sponsor-logos a {
  margin: 0 10px;
}

.sponsor-logos a img {
  width: 3vw;
}

#access {
  width: 5vw;
}

/*------------------------------------ ABOUT PAGE ------------------------------------*/
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 70vh;
}

.about-write-up {
  width: 80vw;
}

/*------------------------------------ FORM PAGE ------------------------------------*/
.form-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  width: 100vw;
}

.left-container-main {
  background-color: #28a36e;
  padding: 0 7vw;
}

.right-container-main {
  padding: 0 7vw;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 4vh;
}

.textArea {
  height: 5vh;
  border-radius: 5px;
  border: none;
  padding-left: 1vw;
}

.textArea-gender {
  width: 8vw;
}

/*------------------------------------ CONTACT-US ------------------------------------*/
.contact-us {
  width: 100vw;
  background-color: #ffffff;
  /* height: 80vh; */
  height: auto;
  margin-top: 0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0 10vh 0;
}

.contact-us h2 {
  /* margin-bottom: 0; */
}

.contact-us > h4 {
  font-weight: 500;
  margin-top: 0;
}

.contact-us-container {
  padding: 0 28vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1vw;
  height: auto;
}

.contact-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  border-radius: 5px;
  border-top: 10px solid #28a36e;
  padding: 2vh 2vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.185);
  transition: all 0.4s;
  height: auto;
}

.contact-text:hover {
  transform: scale(1.04);
}

.contact-text h4 {
  margin-bottom: 0;
}

.contact-us-container .one {
  border-top: 10px solid #41a8d1;
}

.contact-us-container .three {
  border-top: 10px solid #4f7bf3;
}

.contact-text p {
  font-size: 0.8rem;
  text-align: center;
}

.contact-footer {
  text-align: center;
  font-weight: 300;
}

.contact-footer h6 {
  font-weight: 300;
  color: #ffffff56;
}

.contact-page-btns {
  width: 180px;
  /* max-width: 200px; */
  height: 30px;
  border-radius: 2vh;
  background: none;
  font-size: 0.8em;
}

.one-button {
  border: 1px solid #41a8d1;
  color: #41a8d1;
}

.one-button:hover {
  border: none;
  color: #ffffff;
  background-color: #41a8d1;
}

.two-button {
  border: 1px solid #28a36e;
  color: #28a36e;
}

.two-button:hover {
  border: none;
  color: #ffffff;
  background-color: #28a36e;
}

.three-button {
  border: 1px solid #4f7bf3;
  color: #4f7bf3;
}

.three-button:hover {
  border: none;
  color: #ffffff;
  background-color: #4f7bf3;
}

/*------------------------------------ FAQS-PAGE ------------------------------------*/
.faqs-header {
  background: rgb(60, 209, 145);
  background: linear-gradient(90deg, rgba(60, 209, 145, 1) 0%, #477e6c);
  display: flex;
  gap: 3vw;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.faqs-header img {
  width: 13vw;
}

.faqs-header h1 {
  font-size: 3rem;
  margin: 0;
}

.faqs-header p {
  margin: 0;
}

.faqs-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f6f9fd;
  /* background: rgb(131,211,125);
  background: linear-gradient(90deg, rgba(131,211,125,1) 35%, rgba(251,242,124,1) 100%); */
  width: 100%;
  height: 100vh;
  margin: 0;
}

.faqs-body-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.faqs-body-form {
  background: rgb(60, 209, 145);
  background: linear-gradient(180deg, rgba(60, 209, 145, 1) 0%, #477e6c);
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  border-radius: 20px;
  padding: 0 2vw;
}

.faqs-form-fill {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
  color: #ffffff;
}

.faqs-form-fill::placeholder {
  color: #ffffff;
}

#faqs-form-question {
  height: 10vh;
}

.faq-send-btn {
  width: 150px;
  height: 30px;
  border-radius: 2vh;
  background: none;
  font-size: 0.8em;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.faq-send-btn:hover {
  border: none;
  color: #28a36e;
  background: #ffffff;
}

.faqs-body-form a {
  margin: 0 auto;
}

.faqs-body-form h3 {
  margin: 0 auto;
}
/*------------------------------------ NEWS PAGE ------------------------------------*/
.news-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 35px;
  padding: 2vw 5vw;
  margin: 0;
}

.cards {
  border: 1px solid #ffffff60;
  border-radius: 10px;
  padding: 10px 15px;
}

.cards h3 {
  text-align: center;
}

.cards button {
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.cards p {
  font-size: 0.9rem;
}

/*------------------------------------ AWARDS PAGE ------------------------------------*/
.awards-page-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.awards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 70vh;
}

.awards-img img {
  height: 50vh;
}

.awards-img,
.awards-write-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.dance-award {
  background-color: #428669;
}
/*------------------------------------ MEDIA QUERIES ------------------------------------*/

@media only screen and (max-width: 768px) {
  /*------------------------------------ NAVBAR ------------------------------------*/
  .navbar {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    height: 7vh;
    margin: 0;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7vh;
    left: 0;
    height: 50vh;
    width: 100vw;
    background: #245e3bf8;
    transition: max-height 0.5s;
    overflow: hidden;
  }

  .ul-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .ul-link li {
    margin-bottom: 4vh;
  }

  .ul-link li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
  }

  .join-btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .form-btn {
    border-radius: 10px;
    width: 16vw;
    height: 5vh;
    border: 2px solid #ffffff;
    background: #ffffff00;
  }

  .form-btn:hover {
    border: none;
  }

  #nav-logo {
    height: 6vh;
  }

  .menu-btn {
    cursor: pointer;
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  .nav-links-lg {
    display: none;
  }

  /*------------------------------------ HEADER ------------------------------------*/
  header {
    height: 65vh;
  }

  .header-text h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 1.6rem;
  }

  .header-text em {
    color: #3cd191;
  }

  .up-line,
  .down-line {
    border-top: 3px solid #1ce030;
    width: 20vw;
    margin: 0 auto;
  }

  .begin-now,
  .star {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  /*------------------------------------ CARDS ------------------------------------*/
  .top-hunt {
    height: auto;
    margin-top: 1.5vh;
  }

  .top-hunt h1 {
    display: none;
  }

  .top-card-container {
    flex-direction: column;
  }

  .talent {
    border-top: 4px solid #b8ab31;
  }

  .music {
    border-top: 4px solid #1ce030;
  }

  .instrumentalists {
    border-top: 4px solid #3c92d1;
  }

  .talent,
  .music,
  .instrumentalists {
    height: 30vh;
    width: 100vw;
    font-size: 1.2rem;
  }

  /*------------------------------------OTHER AWARDS------------------------------------*/

  .other-awards-container {
    grid-template-columns: 1fr;
    height: 50vh;
    margin-top: 1.5vh;
    padding: 2vh;
  }

  .left,
  .right {
    text-align: center;
  }

  .right img {
    height: 30vh;
  }

  .award-btn {
    border-radius: 10px;
    height: 4vh;
    width: 25vw;
  }

  /*------------------------------------ FAQS ------------------------------------*/

  /*------------------------------------ Footer ------------------------------------*/
  .footer {
    justify-content: flex-end;
    height: 40vh;
  }

  .sponsor-logos {
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
  }

  .sponsor-logos a {
    margin: 0 10px;
  }

  .sponsor-logos a img {
    width: 8vw;
  }

  #access {
    width: 10vw;
  }

  /*------------------------------------ FORM PAGE ------------------------------------*/
  .form-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*------------------------------------ FAQS PAGE ------------------------------------*/
  .faqs-header {
    flex-direction: column;
  }

  .faqs-header img {
    width: 25vw;
  }

  .faqs-header-write-up {
    text-align: center;
  }

  .faqs-body {
    grid-template-columns: 1fr;
    height: auto;
  }

  .faqs-body-form {
    width: 60vw;
  }

  /*------------------------------------ AWARDS PAGE ------------------------------------*/

  .awards-container {
    grid-template-columns: 1fr;
    height: auto;
    margin-bottom: 30px;
  }

  .dance-award h3,
  .dance-award p {
    display: none;
  }

  /* .dance-award .awards-img::after {
    content: "Top Dance Africa";
  } */
}

@media only screen and (max-width: 480px) {
  /*------------------------------------ CARDS ------------------------------------*/
  .top-hunt {
    height: auto;
    margin-top: 1.5vh;
  }

  .top-hunt h1 {
    display: none;
  }

  .top-card-container {
    flex-direction: column;
  }

  .talent {
    border-top: 4px solid #b8ab31;
  }

  .music {
    border-top: 4px solid #1ce030;
  }

  .instrumentalists {
    border-top: 4px solid #3c92d1;
  }

  .talent,
  .music,
  .instrumentalists {
    height: 30vh;
    width: 100vw;
    font-size: 1.2rem;
  }

  /*------------------------------------OTHER AWARDS------------------------------------*/

  .other-awards-container {
    grid-template-columns: 1fr;
    height: 50vh;
    margin-top: 1.5vh;
    padding: 2vh;
  }

  .left-txt h2 {
    font-size: 1.3rem;
  }

  .left,
  .right {
    text-align: center;
  }

  .right img {
    height: 30vh;
  }

  .award-btn {
    border-radius: 10px;
    height: 4vh;
    width: 25vw;
  }

  /*------------------------------------ Footer ------------------------------------*/
  .footer {
    justify-content: flex-end;
    height: 30vh;
  }

  .sponsor-logos {
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
  }

  .sponsor-logos a {
    margin: 0 10px;
  }

  .sponsor-logos a img {
    width: 8vw;
  }

  #access {
    width: 10vw;
  }
}

@media only screen and (max-width: 360px) {
  /*------------------------------------ HEADER ------------------------------------*/
  .header-text h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 1.2rem;
  }

  .header-text em {
    color: #3cd191;
  }

  .up-line,
  .down-line {
    border-top: 3px solid #1ce030;
    width: 30vw;
    margin: 0 auto;
  }

  .begin-now,
  .star {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
  }

  /*------------------------------------ OTHER AWARDS ------------------------------------*/
  .left-txt h2 {
    font-size: 1.3rem;
  }

  .left-txt h5 {
    font-size: 0.6rem;
  }

  .right img {
    height: 25vh;
  }

  .award-btn {
    border-radius: 5px;
    height: 4vh;
    width: 30vw;
    font-size: 0.7rem;
    font-weight: 600;
  }
}
